name: "public"

services:

####################
# Reverse Proxy
####################

  caddy:
    container_name: caddy
    build:
      context: ./dockerfiles
      dockerfile: caddy.dockerfile #Custom build with Cloudflare DNS plugin. Control image version in this file

    networks:
      - caddy-net

    ports:
      - ${PORT_CADDY_HTTP}:80
      - ${PORT_CADDY_HTTPS}:443
      - ${PORT_CADDY_HTTPS}:443/udp

    environment:
      LOG_FILE: ${LOGDIR}/caddy/access.log
      DOMAIN: ${DOMAIN}
      EMAIL: ${EMAIL_ADMIN}
      CLOUDFLARE_API_TOKEN: ${CLOUDFLARE_API_TOKEN}
      
      # BOUNCER_CADDY_TOKEN: ${BOUNCER_CADDY_TOKEN}

    labels:
      - diun.enable=true
      - homepage.group=Wild West
      - homepage.name=Caddy
      - homepage.icon=caddy
      - homepage.description=Reverse Proxy

    volumes:
      - ./staticconfig/caddy/Caddyfile:/etc/caddy/Caddyfile:ro # Required. Needs to be an extension-less file NOT a directory
      - ${CONFIGDIR}/caddy/data:/data # Optional, house for certs. Caddy adds its own /caddy/ directory
      - ${CONFIGDIR}/caddy/config:/config # Optional, JSON Config files. Caddy adds its own /caddy/ directory
      - ${DIR_STATIC}/tandoor_media:/www/tandoor:ro # recipe image files for Tandoor

    healthcheck:
      test: ["CMD", "caddy", "version"]
    restart: unless-stopped


####################
# Dynamic DNS
####################  
  
  cloudflare-ddns:
    container_name: cloudflare-ddns
    image: favonia/cloudflare-ddns:latest

    networks:
      - caddy-net

    environment:
      TZ: ${TZ}
      CLOUDFLARE_API_TOKEN: ${CLOUDFLARE_API_TOKEN}
      DOMAINS: "${DOMAIN},*.${DOMAIN}"
      PROXIED: "false"
      IP6_PROVIDER: "none"

    labels:
      - diun.enable=true
      - homepage.group=Wild West
      - homepage.name=Cloudflare DDNS
      - homepage.icon=cloudflare
      - homepage.description=Dynamic DNS for external access

    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 32M
    restart: unless-stopped


networks:
  caddy-net:
    name: caddy-net
    external: true
